.u-section-1 .u-sheet-1 {
  min-height: 1536px;
}

.u-section-1 .u-image-1 {
  width: 418px;
  height: 386px;
  margin: 547px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 606px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-transform: uppercase;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  width: 844px;
  margin: 40px auto 0;
}

.u-section-1 .u-line-1 {
  transform-origin: left center 0px;
  width: 795px;
  border-style: double;
  margin: 3px auto 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1277px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1566px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 478px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1632px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 398px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1756px;
  }

  .u-section-1 .u-image-1 {
    height: 314px;
    margin-top: 350px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-bottom: 2px;
  }
} .u-section-2 {
  background-image: linear-gradient(white, #f5f7fa);
}

.u-section-2 .u-sheet-1 {
  min-height: 883px;
}

.u-section-2 .u-list-1 {
  margin: 16px 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 183px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 28px auto 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 28px auto 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 28px auto 0;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 28px auto 0;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  width: 795px;
  border-style: double;
  margin: 24px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  min-height: 686px;
  margin: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 60px;
}

.u-section-2 .u-icon-5 {
  height: 48px;
  width: 48px;
  margin: 85px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  text-transform: uppercase;
  margin: 31px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 18px 0 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 38px auto 0;
}

.u-section-2 .u-image-1 {
  min-height: 655px;
  background-image: url("images/istockphoto-1204813771-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 150px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 77px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 2px;
    min-height: 456px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-2 .u-icon-5 {
    padding: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 478px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
    margin-top: 111px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 853px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 853px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1251px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-line-1 {
    margin-top: 616px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -537px;
    min-height: 663px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 601px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 1280px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-2 .u-line-1 {
    margin-top: 566px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -487px;
    min-height: 433px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 781px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 806px;
  }
} .u-section-3 {
  background-image: linear-gradient(#f5f7fa, white);
}

.u-section-3 .u-sheet-1 {
  min-height: 483px;
}

.u-section-3 .u-line-1 {
  transform-origin: left center 0px;
  width: 795px;
  border-style: solid;
  margin: 31px 160px 0 185px;
}

.u-section-3 .u-list-1 {
  margin: 28px 0 31px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 388px;
  grid-gap: 10px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 35px 0 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 35px 0 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 35px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-line-1 {
    margin-left: 85px;
    margin-right: auto;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 320px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 2px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 735px;
    grid-gap: 10px 10px;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1038px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 949px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 736px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 113px 0 169px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin: 80px 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 157px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 202px;
  height: 101px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 202px;
  height: 101px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  width: 202px;
  height: 101px;
  margin: 0 auto;
}

.u-section-4 .u-list-2 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-2 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 157px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  width: 202px;
  height: 101px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-5 {
  width: 202px;
  height: 101px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-image-6 {
  width: 202px;
  height: 101px;
  margin: 0 auto;
}

.u-section-4 .u-list-3 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-3 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 157px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-image-7 {
  height: 101px;
  margin: 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

.u-section-4 .u-image-8 {
  height: 101px;
  margin: 0;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px;
}

.u-section-4 .u-image-9 {
  height: 101px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-4 .u-text-1 {
    width: 544px;
    margin-left: 69px;
    margin-right: 13px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-list-2 {
    margin-top: 20px;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 129px;
  }

  .u-section-4 .u-repeater-3 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 129px;
  }

  .u-section-4 .u-image-7 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-9 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 309px;
  }

  .u-section-4 .u-repeater-3 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 367px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: 100%;
    min-height: 712px;
  }

  .u-section-4 .u-container-layout-4 {
    padding: 0 10px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -64px;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 0 10px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -64px;
  }

  .u-section-4 .u-container-layout-6 {
    padding: 0 10px;
  }

  .u-section-4 .u-image-6 {
    margin-top: -64px;
  }

  .u-section-4 .u-repeater-3 {
    grid-template-columns: 100%;
    min-height: 712px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 33px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 47px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  }

  .u-section-4 .u-image-1 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-3 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 189px;
  }

  .u-section-4 .u-image-4 {
    height: 62px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-5 {
    height: 62px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-6 {
    height: 62px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-3 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 105px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-bottom: 13px;
  }

  .u-section-4 .u-image-7 {
    height: 62px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-8 {
    padding-bottom: 13px;
  }

  .u-section-4 .u-image-8 {
    height: 62px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-9 {
    padding-bottom: 13px;
  }

  .u-section-4 .u-image-9 {
    height: 62px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-5 {
  min-height: 704px;
}

.u-section-5 .u-line-1 {
  transform-origin: left center 0px;
  width: 795px;
  border-style: double;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 12px auto 0;
}

.u-section-5 .u-text-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 543px;
  margin: 20px auto 0;
}

.u-section-5 .u-line-2 {
  transform-origin: left center 0px;
  width: 795px;
  border-style: double;
  margin: 29px auto 0;
}

.u-section-5 .u-table-1 {
  margin: 30px 0 0;
}

.u-section-5 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-5 .u-table-header-1 {
  letter-spacing: 0;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
}

.u-section-5 .u-table-cell-1 {
  font-weight: 400;
  background-image: none;
}

.u-section-5 .u-table-cell-2 {
  font-weight: 400;
  background-image: none;
}

.u-section-5 .u-table-cell-3 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
}

.u-section-5 .u-table-cell-4 {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
}

.u-section-5 .u-table-cell-5 {
  background-image: none;
}

.u-section-5 .u-table-cell-6 {
  background-image: none;
  font-weight: 400;
}

.u-section-5 .u-table-cell-7 {
  background-image: none;
}

.u-section-5 .u-table-cell-8 {
  background-image: none;
}

.u-section-5 .u-table-cell-9 {
  line-height: 1.2;
  background-image: none;
}

.u-section-5 .u-table-cell-10 {
  line-height: 1.2;
  background-image: none;
}

.u-section-5 .u-table-cell-11 {
  line-height: 1.2;
  background-image: none;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
}

.u-section-5 .u-table-cell-12 {
  line-height: 1.2;
  background-image: none;
}

.u-section-5 .u-btn-2 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: -2px 0px 0px 0px rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
}

.u-block-29fa-35 {
  background-image: none;
}

.u-section-5 .u-btn-3 {
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 26px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 299px);
    margin-left: calc(((100% - 1140px) / 2) + 299px);
  }

  .u-section-5 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-btn-1 {
    border-style: none;
  }

  .u-section-5 .u-btn-2 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-line-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-line-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-5 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-btn-3 {
    margin-left: calc(((100% - 340px) / 2) + -10px);
  }
}

.u-section-5 .u-btn-2,
.u-section-5 .u-btn-2:before,
.u-section-5 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-btn-2.u-btn-2.u-btn-2:hover:before {
  background-color: transparent !important;
}

.u-section-5 .u-btn-2.u-btn-2.u-btn-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-5 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-5 .u-btn-2.u-btn-2.u-btn-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-5 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-5 .u-container-layout:hover .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-btn-1,
.u-section-5 .u-btn-1:before,
.u-section-5 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-5 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-5 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-5 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-5 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-5 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 480px;
}

.u-section-6 .u-slider-1 {
  min-height: 480px;
  width: 763px;
  margin: 0 auto;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-6 .u-image-1 {
  width: 83px;
  height: 83px;
  background-image: url("images/215c7470a22e2ae5b7d86327677e57d1493c0453099eb472b2e05fe6b6992a9420cd7d94bd1151e9e6e341609193cdac5d6ae587ad556e9ce43f9b_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-6 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("images/5707193ef993a6e2046bd3ab410aa60ea507f29772fc9dc3565a930f35f8065d0e3e06ca0d9a6bef4e5737968e9d57e0a9a5c54b09903c7df7a656_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-6 .u-image-3 {
  width: 83px;
  height: 83px;
  background-image: url("images/48121087bdbcc4a81353f55716bfc8753fae641d93a00ca83c4b3b552f8ee62a789338320cff5778fa131c4648d09cd3b4b2ec310226df249c83e4_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 290px;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  margin: 35px auto 0 253px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-6 .u-image-4 {
  width: 83px;
  height: 83px;
  background-image: url("images/8ac2af5bc9fa59c094d7910e9a6b0d7ab63bbed3d4744d006c976ca82000597789ff2049525c1a08afc5d7bb0e5b3386d4ebe1fde329db3effe6d5_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 290px;
}

.u-section-6 .u-text-7 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  margin: 35px auto 0 253px;
}

.u-section-6 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-6 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-slider-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-slider-1 {
    width: 720px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 199px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 199px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 533px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    margin-left: auto;
  }

  .u-section-6 .u-text-6 {
    margin-left: auto;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    margin-left: auto;
  }

  .u-section-6 .u-text-8 {
    margin-left: 157px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 559px;
    margin-top: 1px;
    margin-bottom: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-6 .u-text-8 {
    margin-left: 97px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-7 .u-text-1 {
  font-size: 12.5rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 100;
  width: 570px;
  margin: 70px auto 0;
}

.u-section-7 .u-accordion-1 {
  margin: 50px 0 38px auto;
}

.u-section-7 .u-accordion-link-1 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-7 .u-icon-1 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-7 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-7 .u-accordion-link-2 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-7 .u-icon-2 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-7 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-7 .u-accordion-link-3 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-7 .u-icon-3 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-7 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 4.5rem;
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1372px;
}

.u-section-8 .u-line-1 {
  transform-origin: left center 0px;
  width: 795px;
  margin: 1px auto 0;
}

.u-section-8 .u-text-1 {
  margin: 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 595px;
  margin: 59px auto 0;
}

.u-section-8 .u-form-1 {
  height: 697px;
  background-image: none;
  width: 616px;
  margin: 50px auto 0;
}

.u-section-8 .u-form-group-1 {
  margin-left: 0;
}

.u-section-8 .u-label-1 {
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-8 .u-label-2 {
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-8 .u-form-group-3 {
  margin-left: 0;
}

.u-section-8 .u-label-3 {
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-8 .u-label-4 {
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-8 .u-label-5 {
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-8 .u-btn-1 {
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
  width: 100%;
  padding: 11px 0 12px;
}

.u-section-8 .u-image-1 {
  width: 542px;
  height: 500px;
  margin: 22px auto 0;
}

.u-section-8 .u-text-3 {
  font-style: italic;
  font-size: 0.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 741px;
  margin: -500px auto 434px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-2 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-line-1 {
    width: 720px;
  }

  .u-section-8 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-8 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1629px;
  }

  .u-section-8 .u-line-1 {
    width: 540px;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    font-size: 3rem;
    width: 540px;
  }

  .u-section-8 .u-form-1 {
    width: 540px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 498px;
  }

  .u-section-8 .u-text-3 {
    width: 540px;
    margin-top: -498px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1622px;
  }

  .u-section-8 .u-line-1 {
    width: 340px;
    margin-top: 57px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-8 .u-form-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-1 {
    height: 314px;
    margin-top: 112px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-3 {
    width: 340px;
    margin-top: -404px;
  }
}