.u-section-1 .u-sheet-1 {
  min-height: 689px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-1 .u-list-1 {
  width: 976px;
  margin: 64px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 25px) calc(50% - 25px);
  grid-gap: 50px 50px;
  min-height: 466px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 8px 20px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 10px 0 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-2 {
  padding: 8px 20px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 10px 0 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-3 {
  padding: 8px 20px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-1 .u-text-10 {
  margin: 10px 0 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-4 {
  padding: 8px 20px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-1 .u-text-13 {
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 25px));
    min-height: 450px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1612px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-list-1 {
  width: 976px;
  margin: 69px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 25px) calc(50% - 25px);
  grid-gap: 50px 50px;
  min-height: 982px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 8px 20px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 10px 0 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-2 {
  padding: 8px 20px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 10px 0 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-3 {
  padding: 8px 20px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-text-10 {
  margin: 10px 0 0;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-4 {
  padding: 8px 20px;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-text-13 {
  margin: 10px 0 0;
}

.u-section-2 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-5 {
  padding: 8px 20px;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-2 .u-text-15 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-text-16 {
  margin: 10px 0 0;
}

.u-section-2 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-6 {
  padding: 8px 20px;
}

.u-section-2 .u-text-17 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-2 .u-text-18 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-text-19 {
  margin: 10px 0 0;
}

.u-section-2 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-7 {
  padding: 8px 20px;
}

.u-section-2 .u-text-20 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-2 .u-text-21 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-text-22 {
  margin: 10px 0 0;
}

.u-section-2 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-8 {
  padding: 8px 20px;
}

.u-section-2 .u-text-23 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-2 .u-text-24 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-text-25 {
  margin: 10px 0 0;
}

.u-section-2 .u-list-2 {
  width: 976px;
  margin: 18px auto 0;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: calc(50% - 25px) calc(50% - 25px);
  grid-gap: 50px 50px;
  min-height: 208px;
}

.u-section-2 .u-list-item-9 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-2 .u-container-layout-9 {
  padding: 8px 20px;
}

.u-section-2 .u-text-26 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-2 .u-text-27 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-text-28 {
  margin: 10px 0 0;
}

.u-section-2 .u-list-item-10 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-10 {
  padding: 8px 20px;
}

.u-section-2 .u-text-29 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-2 .u-text-30 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-text-31 {
  margin: 10px 0 0;
}

.u-section-2 .u-list-3 {
  width: 978px;
  margin: 96px auto 0;
}

.u-section-2 .u-repeater-3 {
  grid-template-columns: calc(33.3333% - 33.3333px) calc(33.3333% - 33.3333px) calc(33.3333% - 33.3333px);
  grid-gap: 50px 50px;
  min-height: 247px;
}

.u-section-2 .u-list-item-11 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-2 .u-container-layout-11 {
  padding: 8px 20px;
}

.u-section-2 .u-text-32 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-2 .u-text-33 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-text-34 {
  margin: 9px 0 0;
}

.u-section-2 .u-list-item-12 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-12 {
  padding: 8px 20px;
}

.u-section-2 .u-text-35 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-2 .u-text-36 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-text-37 {
  margin: 9px 0 0;
}

.u-section-2 .u-list-item-13 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-2 .u-container-layout-13 {
  padding: 8px 20px;
}

.u-section-2 .u-text-38 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-2 .u-text-39 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-2 .u-text-40 {
  margin: 9px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 25px));
    min-height: 950px;
  }

  .u-section-2 .u-list-2 {
    width: 940px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 25px));
    min-height: 200px;
  }

  .u-section-2 .u-list-3 {
    width: 940px;
  }

  .u-section-2 .u-repeater-3 {
    min-height: 236px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-list-2 {
    width: 720px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-list-3 {
    width: 720px;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: 100%;
    min-height: 615px;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-3 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-list-2 {
    width: 340px;
  }

  .u-section-2 .u-list-3 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 516px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 65px auto 0;
}

.u-section-3 .u-list-1 {
  width: 976px;
  margin: 65px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 25px) calc(50% - 25px);
  grid-gap: 50px 50px;
  min-height: 208px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 8px 20px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 10px 0 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-2 {
  padding: 8px 20px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-3 .u-text-7 {
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 25px));
    min-height: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 377px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: 631px;
  margin: 0 auto;
}

.u-section-4 .u-list-1 {
  width: 976px;
  margin: 65px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 33.3333px) calc(33.3333% - 33.3333px) calc(33.3333% - 33.3333px);
  grid-gap: 50px 50px;
  min-height: 208px;
}

.u-section-4 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 8px 20px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 10px 0 0;
}

.u-section-4 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-2 {
  padding: 8px 20px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-4 .u-text-7 {
  margin: 10px 0 0;
}

.u-section-4 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-3 {
  padding: 8px 20px;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-4 .u-text-10 {
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 199px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 526px;
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-10 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1065px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  width: 631px;
  margin: 0 auto;
}

.u-section-5 .u-list-1 {
  width: 976px;
  margin: 65px auto 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(25% - 37.5px) calc(25% - 37.5px) calc(25% - 37.5px) calc(25% - 37.5px);
  grid-gap: 50px 50px;
  min-height: 282px;
  grid-auto-columns: calc(25% - 37.5px);
}

.u-section-5 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 8px 20px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  text-decoration: underline !important;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-5 .u-container-layout-2 {
  padding: 8px 20px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  text-decoration: underline !important;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-5 .u-container-layout-3 {
  padding: 8px 20px;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  text-decoration: underline !important;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-5 .u-container-layout-4 {
  padding: 8px 20px;
}

.u-section-5 .u-text-11 {
  font-weight: 700;
  text-decoration: underline !important;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-12 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-5 .u-image-1 {
  width: 542px;
  height: 500px;
  margin: 30px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -35px auto 30px;
  padding: 6px 20px 7px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 25px) calc(50% - 25px);
    grid-auto-columns: calc(50% - 25px);
    min-height: 270px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-12 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
    min-height: 966px;
  }

  .u-section-5 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-10 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-13 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1063px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 498px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -33px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1554px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 314px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 14px;
  }
}